extends layout.pug

block content


  article.portfolio-intro


    h1 My Portfolio -  V2


    p This section showcases the projects I’ve built as part of my Full-Stack JavaScript journey through Unit 06.Throughout these projects, I’ve developed a strong foundation in HTML, CSS, and modern JavaScript (ES6), including object-oriented programming (OOP) concepts. I’ve also expanded my skills into the backend using Node.js, Express, and Pug, allowing me to build dynamic, server-rendered web applications. Each project reflects my growth as a developer, with a focus on writing clean, maintainable code and creating user-friendly experiences.




  article.portfolio-project-thumbs
    .projects-box.box.grid

 
      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='Photo of the project in desktop screen')
            h5= project.project_name

